.cart {
  margin: 0 auto;
  padding: 0 20px;
}
.cart-heading {
  height: 150px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  padding: 30px 0;
}
.cart-heading > h2 {
  font-size: 3rem;
  font-weight: 700;
}
.cart-heading > h3 {
  padding-top: 10px;
  font-size: 1.4rem;
}
.cart-heading > h3::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  margin: 20px auto;
  background-color: var(--text-color);
}
.cart-heading > h3 > .count-cart {
  font-weight: 500;
}

.product-cart {
  display: flex;
  justify-content: space-between;
}
.cart-list-product {
  width: 65%;
  height: 450px;
  overflow-y: scroll;
}
.cart-list-product::-webkit-scrollbar {
  width: 0px;
}
.cart-product-item {
  width: 100%;
  margin: 10px auto;
  padding: 5px 2px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #dadbdd solid;
  align-items: center;
}
.item-img {
  width: 100px;
  height: 100px;
}
.item-info {
  width: calc(100% - 100px - 10px);
  height: 100%;
  padding: 20px 5px;
}
.item-info > div + div {
  margin: 12px 0;
}
.info-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  color: #050505;
  font-weight: 700;
}

.info-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: #050505;
}

.info-total {
  display: flex;
  justify-content: space-between;
}
.total-amount {
  width: 100px;
  height: 30px;
  border: #dadbdd 1px solid;
  display: flex;
  align-items: center;
}
.total-amount .input-amout {
  width: calc(100% - 50px);
  height: 29px;
  overflow: hidden;
  outline: none;
  border: none;
  font-size: 1.6rem;
  background-color: #ededed;
  text-align: center;
  font-weight: bold;
}

input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}
.button-amount {
  width: 25px;
  height: 29px;
  overflow: hidden;
  outline: none;
  border: none;
  text-align: center;
  background-color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.total-money {
  font-size: 1.7rem;
  font-weight: bolder;
}

.cart-info-product {
  width: 360px;
  height: 330px;
  background-color: blue;
}
