.header {
  height: 140px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 99999;
}

/* header top start */
.header-top {
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: 90px;
}
.header-top-empty {
  width: 30%;
}
.header-top-logo {
  width: 60%;
  margin: auto;
}
.header-top-action {
  width: 30%;
  display: flex;
  padding: 0 50px;
  justify-content: flex-end;
}
.header-top-logo > a {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
.logo-img {
  width: 100%;
}

.header-top-action-list {
  display: inline-flex;
}
.header-top-action-item {
  line-height: 100px;
  padding: 0 5px;
  position: relative;
}

.header-top-link {
  color: var(--text-color);
  font-size: 2.6rem;
  display: block;
}
.header-top-link:hover {
  color: #f3ab70;
  transition: all 0.2s ease-in-out;
}

.header-top-search-box {
  z-index: 999;
  display: none;
  right: calc(100% - 50px);
  top: calc(100% - 25px);
  position: absolute;
  width: 400px;
  outline: none;
  transform-origin: 10 right top;
  animation: SearchBoxAnimation ease-out 0.3s;
  border-radius: 3px;
  color: #677279;
  background: rgb(255, 255, 255);
  border: solid 1px #dfe3e8;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.header-top-search-box .box-triangle {
  position: absolute;
  bottom: calc(100% + 25px);
  margin: 0 auto;
  width: 30px;
  height: 25px;
  right: 15px;
}
.header-top-search-box .box-triangle svg {
  filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}

.item-icon-search:hover .header-top-search-box {
  display: block;
}

.heading {
  position: relative;
  font-family: Quicksand;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 21px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
}
.heading::after {
  content: '';
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 90%;
  border-bottom: 1px solid rgb(221, 182, 182);
}
.search-box {
  position: relative;
  width: 90%;
  border-radius: 2px;
  height: 50px;
  border: 1px solid #ececec;
  display: flex;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.search-box > input {
  border: none;
  width: 100%;
  position: relative;
  outline: none;
  overflow: hidden;
  color: #050505;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bolder;
  line-height: 19.6px;
  padding: 0px 55px 0px 20px;
}
.btn-search {
  border-radius: 2px;
  position: absolute;
  height: 50px;
  outline: none;
  overflow: hidden;
  width: 50px;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn-search > i {
  font-size: 2.6rem;
  color: #333333;
  font-weight: 500;
}
.btn-search:hover i {
  color: #757070;
}

.search-result {
  width: 90%;
  margin: 10px auto;
}
.result-link {
  display: block;
  position: relative;
  padding: 5px 0;
}
.result-link::after {
  content: '';
  bottom: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgb(221, 182, 182);
}

.result-link:hover .item-info-name {
  color: #f3ab70;
  transition: all 0.2s ease-in-out;
  scale: 0.9;
}
.search-result-item {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.result-item-info {
  display: block;
  color: #677279;
}
.item-info-name {
  font-size: 1.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 310px;
  line-height: 25px;
}
.item-info-price {
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.result-item-img {
  width: auto;
  height: 100%;
}
.see-more {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: #677279;
  text-align: center;
  line-height: 50px;
}
/* header top end */

/* header nav start */
.header-nav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .nav-list {
} */
.nav-subnav {
  display: none;
  position: absolute;
  white-space: nowrap;
  background: #fff;
  top: calc(100% - 2px);
  left: 0;
  border-top: 2px solid #5c5c5c;
  z-index: 999;
  min-width: 120px;
  animation: growDown 0.35s ease-in-out forwards;
  transform-origin: top center;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
}
.nav-list-item:hover .nav-subnav {
  display: block;
}
.nav-subnav .subnav-item {
  padding: 0 15px;
  display: block;
}
.nav-list-item .nav-subnav li:not(:first-child) {
  border-top: 1px solid #ecf0f1;
}

.nav-list .nav-list-item {
  padding: 0 12px;
  align-items: center;
  display: inline-block;
  position: relative;
}

.nav-list-item .nav-list-link {
  font-weight: 500;
  line-height: 50px;
  font-family: Quicksand;
  color: #050505;
  display: inline-block;
  font-size: 1.5rem;
}

.nav-list .nav-list-item > .nav-list-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #5c5c5c;
  transition: width 0.3s;
}

.nav-list .nav-list-item > .nav-list-link:hover::after {
  width: 100%;
}

.nav-subnav .nav-list-sublink {
  height: 40px;
  line-height: 40px;
  font-size: 1.3rem;
  font-weight: 500;
}

.nav-list .nav-list-item:hover > .nav-list-link,
.nav-list .nav-list-item:hover i,
.subnav-item:hover > .nav-list-link {
  color: #f3ab70;
  transition: all 0.2s ease-in-out;
}

.nav-list-item i {
  color: #000000;
  display: inline-block;
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 0;
}

/* header nav end */

/* slider */
/* .slider {
} */
.slider a {
  z-index: 1;
  display: block;
}
.slider img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* slider end */

/* banner */

.banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.banner-item {
  width: 33.1%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}

.banner-item:hover img {
  transform: scale(1.2);
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 8s;
}

/* banner-end */

/* product */
.product-heading {
  margin-top: 25px;
  cursor: pointer;
  font-family: Quicksand;
  font-size: 37px;
  font-weight: 500;
  line-height: 40.7px;
  text-align: center;
}
.product-heading:hover {
  color: #f3ab70;
  transition: all 0.25s ease-in-out;
}

.grid__row {
  justify-content: space-evenly;
  align-items: center;
}
.grid__col-3 {
  margin-top: 10px;
  padding: 12px 0;
}
.product {
  margin: 0 auto;
  width: 80%;
  cursor: pointer;
  height: 190px;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-img-hover {
  width: 100%;
  height: 100%;
  display: none;
}
.product:hover .product-show {
  display: none;
  transition: all 0.2s ease-in-out;
}
.product:hover .product-img-hover {
  display: block;
  transition: all 0.2s ease-in-out;
}
.product-info {
  width: 80%;
  padding: 0 12px;
  margin: 0 auto;
}
.product-title {
  color: #050505;
  cursor: pointer;
  font-family: Quicksand;
  font-size: 1.4rem;
  overflow: hidden;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-title:hover {
  color: #f3ab70;
  transition: all 0.2s ease-in-out;
}
.product-price {
  padding-top: 12px;
  color: #050505;

  font-size: 14px;
  line-height: 21px;
}
